{% extends 'base.html' %}

{% block content %}
{% comment %} <div id="map"></div> {% endcomment %}


<div class="container h-100 align-items-center text-center">

    (Track - button)

    Challenges cannot be duplicate in one game. We have to be able to track them

    Money

    Chat function, where you can post your completed challenges, if there is an image needed for proof

    <div class="row">
        <div class="col-md-12 text-center">
            {% comment %} <a href="{% url 'game' %}">
                <button type="submit" class="btn btn-dark btn-lg">CATCH !</button>
            </a> {% endcomment %}
        </div>
    </div>


    <form id="form">
        <input type="text" name="message"/>
    </form>


    <div id="messages"></div>


</div>



{% load static %}
{% comment %} <script src="{% static 'js/map.js' %}" defer></script> {% endcomment %}
<script type="text/javascript"> 
    {% comment %} let url = `ws://${window.location.host}/ws/socket-server/`
    let game_id = "{{game_id}}"
    let team = "{{team}}"

    const chatSocket = new WebSocket(url)

    chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        console.log('Data:', data)

        if(data.type === 'chat'){
            let messages = document.getElementById('messages')

            messages.insertAdjacentHTML('beforeend', `<div> 
                <p>${data.message}</p>
            </div>`)
        }
    }

    let form = document.getElementById('form')
    
    form.addEventListener('submit', (e)=> {
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'message': message
        }))
        form.reset
    }) {% endcomment %}
</script>

{% endblock content %}