{% extends 'base.html' %}

{% block content %}
{% comment %} <div id="map"></div> {% endcomment %}


<div class="container h-100 align-items-center text-center">

    (Track - button)

    Challenges cannot be duplicate in one game. We have to be able to track them

    Money

    Chat function, where you can post your completed challenges, if there is an image needed for proof

</div>



{% load static %}
{% comment %} <script src="{% static 'js/map.js' %}" defer></script> {% endcomment %}
<script type="text/javascript"> 
    let url = `ws://${window.location.host}/ws/socket-server/`

    const chatSocket = new WebSocket(url)

    chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        console.log('Data:', data)
    }
</script>

{% endblock content %}