{% extends 'base.html' %}

{% block content %}
{% comment %} <div id="map"></div> {% endcomment %}


<div class="container h-100 align-items-center text-center">
    <h2> Runner </h2>

    <div class="row">
        <div class="col-6 text-center">
            Timer
        </div>

        <div class="col-6 text-center">
            {{curr_team.money}} Coins
        </div>
    </div>
    
    <div class="row draw-challenge" id="challenge">
        <div class="col-10 offset-1">
            <div id="draw-challenge-box">
                <div class="description">You have to complete challenges in order to get Transportation Coins.</div>

                <div class="box">
                    <button type="button" class="button btn-lg draw-challenge-btn" id="draw-a-challenge">
                        Draw A Challenge
                    </button>
                </div>
            </div>
            
            <div class="challenge-box" id="challenge-box">
                <div class="box" id="accept-discard-challenge">
                    <button type="button" class="button btn-lg" id="challenge-successful">Challenge Successful</button>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row public-transport">
        <div class="col-10 offset-1 transport-types">
            <div class="description">Use public transport to get around.</div>
                <div class="box">
                
                {% for tt in transport_types %}
                    <div class="text-center">
                        <button type="button" class="button btn-lg" id="{{tt.name}}-button">
                            {{tt.name}}
                            <div class="description-small text-right">{{tt.cost_per_station}}/station</div>
                        </button>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

</div>



{% load static %}
<script type="text/javascript"> 
        
    function connect() {
        
        let game_id = '{{game.game_id}}'
        let url = `ws://${window.location.host}/ws/game/${game_id}/`
        let curr_team_name = '{{curr_team.team_name}}'
        var challenge_pk = ''

        const waitSocket = new WebSocket(url)
    
        waitSocket.onopen = function open() {
            console.log("WebSockets connection created.");
        };
    
        waitSocket.onclose = function (e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function () {
                connect();
            }, 1000);
        };
    
        waitSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)
    
            let event = data['event']
            let send_team = data['send_team']
            let challenge_name = data['challenge_name']
            let challenge_text = data['challenge_text']
            let challenge_reward = data['challenge_reward']
            challenge_pk = data['challenge_pk']
            
            if (event === 'GET-CHALLENGE' && send_team == curr_team_name){
                let draw_challenge_div = document.getElementById('draw-challenge-box')
                draw_challenge_div.style.display='none'
                
                let challenge_box_div = document.getElementById('challenge-box')
                challenge_box_div.style.display='block'
                
                let accept_discard_challenge_div = document.getElementById('accept-discard-challenge')
                accept_discard_challenge_div.insertAdjacentHTML('afterbegin', `<div id="challenge-reward">${challenge_reward} Transport Tokens</div>`)
                accept_discard_challenge_div.insertAdjacentHTML('afterbegin', `<div id="challenge-text">${challenge_text}</div>`)
                accept_discard_challenge_div.insertAdjacentHTML('afterbegin', `<div id="challenge-name">${challenge_name}</div>
                <div id="challenge-cancel">X</div>`)

                accept_discard_challenge_div.style.display='block'
            
            } else if (event === 'CHALLENGE-SUCCESSFUL' && send_team == curr_team_name) {
                console.log('CHALLENGE-SUCCESSFUL')
                let draw_challenge_div = document.getElementById('draw-challenge-box')
                draw_challenge_div.style.display='block'

                document.getElementById('challenge-reward').remove()
                document.getElementById('challenge-text').remove()
                document.getElementById('challenge-name').remove()
                document.getElementById('challenge-cancel').remove()

                let challenge_box_div = document.getElementById('challenge-box')
                challenge_box_div.style.display='none'
            }
        };


        document.getElementById('draw-a-challenge').onclick = function() {
            waitSocket.send(JSON.stringify({
                "event": "GET-CHALLENGE",
                "game_id": game_id,
                "send_team": curr_team_name
            }))
        }

        document.getElementById('challenge-successful').onclick = function() {
            waitSocket.send(JSON.stringify({
                "event": "CHALLENGE-SUCCESSFUL",
                "game_id": game_id,
                "send_team": curr_team_name,
                "challenge_pk": challenge_pk
            }))
        }
    }

    connect();
</script> 

{% endblock content %}