{% extends 'base.html' %}

{% block content %}
{% comment %} <div id="map"></div> {% endcomment %}


<div class="container h-100 align-items-center text-center">

    <h1>WAITING FOR TEAMS</h1>
    
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="game-id-box">
                Game ID: {{game_id}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            Waiting for all teams to join
            <table>
                {% if game_master == False %}
                    {% for ot in other_teams %}
                    <tr id="teams">
                        <p>{{ot}}</p>
                    </tr>
                    {% endfor %}
                {% endif %}
                    {% comment %} <td> Your team: </td>
                    <td> {{team_name}} </td> {% endcomment %}
            </table>
        </div>
    </div>


    {% comment %} Build websocket so that incoming teams are immediately displayed.
    Display Team Names, maybe nr of teammates. {% endcomment %}

    <div class="row">
        <div class="col-md-12 text-center">
            <a href="{% url 'game' game_id="testgame" %}"> 
                <button type="submit" class="btn btn-dark btn-lg">Start The Game!</button>
            </a>
        </div>
    </div>


    <div id="messages"></div>


</div>



{% load static %}
<script type="text/javascript"> 
    
    function connect() {

        let game_id = '{{game_id}}'
        let team_name = '{{team_name}}'
        let url = `ws://${window.location.host}/ws/waiting/${game_id}/`
    
        const waitSocket = new WebSocket(url)
    
        waitSocket.onopen = function open() {
            console.log("WebSockets connection created.");
            waitSocket.send(JSON.stringify({
                "event": "START",
                "team_name": team_name
            }))
        };
    
        waitSocket.onclose = function (e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function () {
                connect();
            }, 1000);
        };
    
        waitSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)
    
            let team_name = data['team_name']
            let event = data['event']
            console.log(event)
            if(event === 'NEWTEAM'){
                let teams_div = document.getElementById('teams')
    
                teams_div.insertAdjacentHTML('beforeend', 
                                             `<tr id="teams">
                                                <p>${team_name}</p>
                                              </tr>`)
            }
        }
    }
    
    connect();
</script>
    

{% endblock content %}