{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}

<div class="container h-100 align-items-center text-center">
    
    <div class="row">
        <h1> Create A New Game </h1>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 text-center">
            <form method="post" action="/waiting_for_teams/">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.team_name|add_label_class:"label_class" }}
                    {% render_field form.team_name placeholder=form.team_name.label %}
                </div>
                {% comment %} <div class="form-group">
                    {% render_field form.game_master type="hidden" %}
                </div> {% endcomment %}
                <button type="submit" class="button btn-lg">
                    <div class="">Create Game</div>
                </button>
            </form>
        </div>
    </div>

</div>

{% endblock content %}