{% extends 'base.html' %}

{% block content %}
{% comment %} <div id="map"></div> {% endcomment %}


<div class="container h-100 align-items-center text-center">
    <h1> Chase! </h1>
    <h3> {{curr_team.team_name}} </h3>
    <div class="box">
        <div id="jail_timer"></div>
    </div>


    <div class="row">
        <div class="col-md-12 text-center" id="catch">
            <button type="submit" class="button btn-lg" id="catch-button">CATCH !</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <a href="{% url 'game' game_id=game.game_id %}">
                <button type="hidden" class="btn btn-dark btn-lg d-none" id="catch-confirmed">Catch Confirmed</button>
            </a>
        </div>
    </div>

    <div class="row d-none" id="opponent-challenge">
        <div class="col-md-10 offset-1 text-center">
            <div class="box">
                <div id="challenge-name"></div>
                <div id="challenge-text"></div>
            </div>
        </div>
    </div>

</div>



{% load static %}

<script type="text/javascript"> 
    
    function connect() {

        let game_id = '{{game.game_id}}'
        let curr_team_name = '{{curr_team.team_name}}'
        let url = `wss://${window.location.host}/ws/game/${game_id}/`
    
        const waitSocket = new WebSocket(url)
    
        waitSocket.onopen = function open() {
            console.log("WebSockets connection created.");
        };
    
        waitSocket.onclose = function(e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function () {
                connect();
            }, 1000);
        };
    
        waitSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)
    
            let send_team = data['send_team']
            let event = data['event']
            let jail_time = data['formatted_jail_time']

            if (event === 'CATCH' && curr_team_name === send_team) {
                let catch_div = document.getElementById('catch')
                catch_div.style.display = 'none'
            
            } else if (event === 'CATCH-SUCCESS' && curr_team_name !== send_team) {
                document.getElementById("catch-confirmed").click();
                
            } else if (event === 'CATCH-DENY' && curr_team_name !== send_team) {
                let catch_div = document.getElementById('catch')
                catch_div.style.display = 'block'
            } else if (event === 'GET-CHALLENGE' && curr_team_name !== send_team) {
                let challenge_name = data['challenge_name']
                let challenge_text = data['challenge_text']
                document.getElementById('opponent-challenge').classList.remove('d-none')
                document.getElementById('challenge-name').innerHTML(challenge_name)
                document.getElementById('challenge-text').innerHTML(challenge_text)
            }
        };


        document.getElementById('catch-button').onclick = function() {
            waitSocket.send(JSON.stringify({
                "event": "CATCH",
                "game_id": game_id,
                "send_team": curr_team_name
            }))
        }
    }

    function pad(num) {
        num = num.toString();
        while (num.length < 2) num = "0" + num;
        return num;
    }

    function jailtime() {
        let jail_time_finish = '{{jail_time_finish}}'
        if (jail_time_finish) {
            document.getElementById("catch-button").classList.add("d-none")
        }
        var countDownDate = new Date(jail_time_finish).getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

        // Get today's date and time
            var now = new Date().getTime();
            
        // Find the distance between now and the count down date
            var distance = countDownDate - now;
            console.log(distance)
            
        // Time calculations for days, hours, minutes and seconds
            var minutes = pad(Math.floor(distance / (1000 * 60)));
            var seconds = pad(Math.floor((distance % (1000 * 60)) / 1000));
            
        // Output the result in an element with id="demo"
            document.getElementById("jail_timer").innerHTML = minutes + ":" + seconds;
            
        // If the count down is over, write some text 
            if (distance < 0 || jail_time_finish == "") {
                clearInterval(x);
                document.getElementById("jail_timer").innerHTML = "Start Chasing!";
                document.getElementById("catch-button").classList.remove("d-none")

            }
        }, 1000);
    }

    connect();
    jailtime();
</script> 

{% endblock content %}