{% extends 'base.html' %}

{% block content %}
{% comment %} <div id="map"></div> {% endcomment %}


<div class="container h-100 align-items-center text-center">
    
    <h1> Run! </h1>
    <h3> {{curr_team.team_name}} </h3>


    <div class="row head-bar">
        <div class="col-5 offset-1 text-center" id="points">
            {{curr_team.points}} Points
        </div>

        <div class="col-5 text-center" id="coins">
            {{curr_team.coins}} Coins
        </div>
    </div>
    
    <div class="row d-none" id="confirm-catch">
        <div class="col-10 offset-1 transport-types">
            <div class="description">You have been catched. Do you confirm the catch? If you do, your Jail Time will start.</div>
            <div class="box confirm-catch-box d-flex">
                <div class="half">
                    {% csrf_token %}
                    <form>
                        <input type="hidden" id="title" name="action" value="confirm-catch"/>
                        <a href="{% url 'game' game_id=game.game_id %}">
                            <button type="submit" class="button btn-lg" id="catch-success">
                                <div class="">I Got Catched :(</div>
                            </button>
                        </a>
                    </form>
                </div>
                <div class="half">
                    <button type="button" class="button btn-lg" id="catch-deny">
                        <div class="">False Alert</div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <a href="{% url 'game' game_id=game.game_id %}">
                <button type="hidden" class="btn btn-dark btn-lg d-none" id="catch-confirmed">Secret button</button>
            </a>
        </div>
    </div>

    <div class="row d-none" id="jail_timer">
        <div class="col-10 offset-1 ">
            <div class="description">Cancelling challenges leads to a transportation penalty. You are not allowed to use public transport until the end of the timer.</div>

            <div class="box" id="timer"></div>
        </div>
    </div>

    <div class="row draw-challenge" id="challenge">
        <div class="col-10 offset-1">
            
            <div id="draw-challenge-box">
                <div class="description">You have to complete challenges in order to get Transportation Coins.</div>

                <div class="box">
                    <button type="button" class="button btn-lg draw-challenge-btn" id="draw-a-challenge">
                        Draw A Challenge
                    </button>
                </div>
            </div>
            
            <div class="challenge-box d-none" id="challenge-box">
                <div class="box" id="accept-discard-challenge">
                    <div id="challenge-cancel">X</div>
                    <button type="button" class="button btn-lg" id="challenge-successful">Challenge Successful</button>
                </div>
            </div>

        </div>
    </div>


    <div class="row" id="public-transport">
        <div class="col-10 offset-1 transport-types">
            <div class="description">
                Use public transport to get around. <br>
                You have to input the number of stations you want to ride, BEFORE getting on the public transport. 
                You are not allowed to add additional stops before getting of. You can get off before, but the excess stops will be counted anyway.
            </div>
            <div class="box">
            {% for tt in transport_types %}
                <div class="text-center transportation">
                    <button onclick="transport_dropdown({{tt.pk}})" type="button" class="button btn-lg transport-btn" id="transport-type-{{tt.pk}} ">
                        {{tt.name}}
                        <div class="description-small text-right">{{tt.cost_per_station}}/station</div>
                    </button>
                    
                    <div class="transport-stops-counter d-none" id="transport-stops-counter-{{tt.pk}}" >
                        <div class="row justify-content-center align-middle">
                            <button onclick="minus({{tt.pk}})" type="button" class="button square"> - </button>
                            <div class="transport-stops-value" id="transport-stops-value-{{tt.pk}}"> 1 </div>
                            <button onclick="plus({{tt.pk}}, {{tt.cost_per_station}}, {{curr_team.coins}})" type="button" class="button square"> + </button>
                        </div>
                        
                        <button onclick="hop_on({{tt.pk}})" type="button" class="button hop-on" id="hop-on-{{tt.pk}}"> Hop-On! </button>
                    </div>
                </div>
            {% endfor %}

            
            
            </div>
        </div>
    </div>

</div>



{% load static %}
<script type="text/javascript"> 
    
    function connect() {
        
        let game_id = '{{game.game_id}}'
        let url = `wss://${window.location.host}/ws/game/${game_id}/`
        let curr_team_name = '{{curr_team.team_name}}'

        var challenge_pk = ''

        const waitSocket = new WebSocket(url)
    
        waitSocket.onopen = function open() {
            console.log("WebSockets connection created.");
        };
    
        waitSocket.onclose = function (e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function () {
                connect();
            }, 1000);
        };
    
        waitSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)
    
            let event = data['event']
            let send_team = data['send_team']
            let coins = data['send_team_coins']
            let challenge_name = data['challenge_name']
            let challenge_text = data['challenge_text']
            let challenge_reward = data['challenge_reward']
            let jail_time_finish = data['jail_time_finish']

            // Global variables needed on for view
            challenge_pk = data['challenge_pk']

            if (event === 'GET-CHALLENGE' && send_team == curr_team_name){
                let draw_challenge_div = document.getElementById('draw-challenge-box')
                draw_challenge_div.classList.add('d-none')
                
                let challenge_box_div = document.getElementById('challenge-box')
                challenge_box_div.classList.remove('d-none')
                
                let accept_discard_challenge_div = document.getElementById('accept-discard-challenge')
                accept_discard_challenge_div.classList.remove('d-none');
                accept_discard_challenge_div.classList.add('d-block');
                accept_discard_challenge_div.insertAdjacentHTML('afterbegin', `<div id="challenge-reward">${challenge_reward} Transport Tokens</div>`)
                accept_discard_challenge_div.insertAdjacentHTML('afterbegin', `<div id="challenge-text">${challenge_text}</div>`)
                accept_discard_challenge_div.insertAdjacentHTML('afterbegin', `<div id="challenge-name">${challenge_name}</div>
                `)

            
            } else if (event === 'CHALLENGE-SUCCESSFUL' && send_team == curr_team_name) {
                console.log('CHALLENGE-SUCCESSFUL')
                let draw_challenge_div = document.getElementById('draw-challenge-box')
                draw_challenge_div.classList.remove('d-none')

                document.getElementById('challenge-reward').remove()
                document.getElementById('challenge-text').remove()
                document.getElementById('challenge-name').remove()

                let challenge_box_div = document.getElementById('challenge-box')
                challenge_box_div.classList.add('d-none')

                document.getElementById("coins").innerHTML = `${coins} Coins`;
            
            } else if (event === 'CHALLENGE-CANCEL') {
                let jail_time_div = document.getElementById("jail_timer")
                jail_time_div.classList.remove('d-none')
                jailtime(jail_time_finish)

                let challenge_div = document.getElementById("challenge")
                challenge_div.classList.add('d-none')
                let public_transport_div = document.getElementById("public-transport");
                public_transport_div.classList.add('d-none');
                
            } else if (event === 'CATCH') {
                let confirm_catch_div = document.getElementById('confirm-catch')
                confirm_catch_div.classList.remove('d-none')
            
            } else if (event === 'CATCH-SUCCESS' && curr_team_name === send_team) {
                document.getElementById("catch-confirmed").click();
            
            } else if (event === 'CATCH-DENY' && curr_team_name === send_team) {
                let confirm_catch_div = document.getElementById('confirm-catch')
                confirm_catch_div.classList.add('d-none')
            } else if (event === 'HOP-ON' && curr_team_name == send_team){
                document.getElementById("coins").innerHTML = `${coins} Coins`;

                let transport_stops_divs = document.getElementsByClassName("transport-stops-counter")
                for (ts_div of transport_stops_divs) {
                    if (!ts_div.classList.contains("d-none")){
                        ts_div.classList.add("d-none")
                    }
                }
            } else if (event === 'UPDATE-POINTS' && curr_team_name == send_team) {
            let curr_team_points = data['send_team_points']
                document.getElementById("points").innerHTML = `${curr_team_points} Points`;
            }
        };

        document.getElementById('draw-a-challenge').onclick = function() {
            waitSocket.send(JSON.stringify({
                "event": "GET-CHALLENGE",
                "game_id": game_id,
                "send_team": curr_team_name
            }))
        };

        document.getElementById('challenge-successful').onclick = function() {
            if (challenge_pk == "") {
                console.log("empty")
                challenge_pk = "{{open_challenge.pk}}"
            }
            console.log(challenge_pk)
            
            waitSocket.send(JSON.stringify({
                "event": "CHALLENGE-SUCCESSFUL",
                "game_id": game_id,
                "send_team": curr_team_name,
                "challenge_pk": challenge_pk
            }))
        };

        document.getElementById('challenge-cancel').onclick = function() {
            /*TODO 
            challenge_pk right now is only known when refresh
            we have to get the pk through the displayed challenge. this way we can guarantee to get the pk
            */
            let challenge_box_div = document.getElementById("challenge-box")
            challenge_box_div.classList.add('d-none')
            document.getElementById("draw-challenge-box").classList.remove('d-none')

            document.getElementById('challenge-reward').remove()
            document.getElementById('challenge-text').remove()
            document.getElementById('challenge-name').remove()

            if (challenge_pk == "") {
                challenge_pk = "{{open_challenge.pk}}"
            }
            waitSocket.send(JSON.stringify({
                "event": "CHALLENGE-CANCEL",
                "game_id": game_id,
                "send_team": curr_team_name,
                "challenge_pk": challenge_pk
            }))
        };

        document.getElementById('catch-success').onclick = function() {
            waitSocket.send(JSON.stringify({
                "event": "CATCH-SUCCESS",
                "game_id": game_id,
                "send_team": curr_team_name
            }))
        };
        
        document.getElementById('catch-deny').onclick = function() {
            waitSocket.send(JSON.stringify({
                "event": "CATCH-DENY",
                "game_id": game_id,
                "send_team": curr_team_name
            }))
        };

        let hop_on_buttons = document.getElementsByClassName('hop-on')
        for (ho_btn of hop_on_buttons) {
            let tt_id = ho_btn.id.slice(-1)

            document.getElementById(`hop-on-${tt_id}`).onclick = function() {
                let stops_value_div = document.getElementById(`transport-stops-value-${tt_id}`)
                let stops_value = Number(stops_value_div.innerHTML);

                waitSocket.send(JSON.stringify({
                    "event": "HOP-ON",
                    "game_id": game_id,
                    "send_team": curr_team_name,
                    "stops": stops_value,
                    "transport_type_id": tt_id,
                }))
            }
        }

        setInterval(function () {
            point_counter(waitSocket, game_id, curr_team_name);
        }, 60000);
    };

    function point_counter(waitSocket, game_id, curr_team_name) {
        console.log("point_counter")
        waitSocket.send(JSON.stringify({
            "event": "UPDATE-POINTS",
            "game_id": game_id,
            "send_team": curr_team_name
        }))
    }

    function pad(num) {
        num = num.toString();
        while (num.length < 2) num = "0" + num;
        return num;
    }

    function jailtime(jail_time_finish = '{{jail_time_finish}}') {
        
        var countDownDate = new Date(jail_time_finish).getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

        // Get today's date and time
            var now = new Date().getTime();
            
        // Find the distance between now and the count down date
            var distance = countDownDate - now;
            console.log(distance)
            
        // Time calculations for days, hours, minutes and seconds
            var minutes = pad(Math.floor(distance / (1000 * 60)));
            var seconds = pad(Math.floor((distance % (1000 * 60)) / 1000));
            
        // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML = minutes + ":" + seconds;
            
        // If the count down is over, write some text 
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "Penalty time over! You can use public transport again";

                let challenge_div = document.getElementById("challenge")
                challenge_div.classList.remove('d-none')
                let draw_challenge_box_div = document.getElementById("draw-challenge-box")
                draw_challenge_box_div.classList.remove('d-none')
                let public_transport_div = document.getElementById("public-transport")
                public_transport_div.classList.remove('d-none')

            }
        }, 1000);
    }
    
    function open_challenge() {
        let open_challenge = '{{open_challenge}}'

        if (open_challenge) {
            let challenge_reward = "{{open_challenge.reward}}"
            let challenge_text = '{{open_challenge.challenge_text}}'
            let challenge_name = "{{open_challenge.name}}"

            let draw_challenge_div = document.getElementById('draw-challenge-box')
            draw_challenge_div.classList.add('d-none')
            
            let challenge_box_div = document.getElementById('challenge-box')
            challenge_box_div.classList.remove('d-none')
            
            let accept_discard_challenge_div = document.getElementById('accept-discard-challenge')
            accept_discard_challenge_div.classList.remove('d-none');
            accept_discard_challenge_div.classList.add('d-block');
            accept_discard_challenge_div.insertAdjacentHTML('afterbegin', `<div id="challenge-reward">${challenge_reward} Transport Tokens</div>`)
            accept_discard_challenge_div.insertAdjacentHTML('afterbegin', `<div id="challenge-text">${challenge_text}</div>`)
            accept_discard_challenge_div.insertAdjacentHTML('afterbegin', `<div id="challenge-name">${challenge_name}</div>
            `)
        }
    }

    function is_in_jail() {
        var jail_time_finish = '{{jail_time_finish}}' 

        if (jail_time_finish != '') {
            let draw_challenge_box_div = document.getElementById("draw-challenge-box");
            draw_challenge_box_div.classList.add('d-none');
            let public_transport_div = document.getElementById("public-transport");
            public_transport_div.classList.add('d-none');

            let jail_time_div = document.getElementById("jail_timer");
            jail_time_div.classList.remove('d-none');
            jailtime(jail_time_finish)
        }
    }

    function transport_dropdown(id) {
        let counter_div = document.getElementById(`transport-stops-counter-${id}`);
        if (counter_div.classList.contains("d-none")) {
            counter_div.classList.remove("d-none");
        } else {
            counter_div.classList.add("d-none");
        }
    }
    
    function minus(id) {
        let stops_value_div = document.getElementById(`transport-stops-value-${id}`)
        let curr_value = Number(stops_value_div.innerHTML);
        if (curr_value != 0) {
            stops_value_div.innerHTML = curr_value - 1
        }
    }

    function plus(id, cost_per_station, coins) {
        let stops_value_div = document.getElementById(`transport-stops-value-${id}`)
        let curr_value = Number(stops_value_div.innerHTML);
        
        if ((curr_value + 1) * cost_per_station <= coins) {
            stops_value_div.innerHTML = curr_value + 1
        }
    }


    connect();
    is_in_jail();
    open_challenge();
    
    //Jail Time Logic
    

</script> 

{% endblock content %}