{% extends 'base.html' %}

{% block content %}
{% comment %} <div id="map"></div> {% endcomment %}


<div class="container h-100 align-items-center text-center">

    <h1>WAITING FOR TEAMS</h1>
    
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="game-id-box">
                Game ID: {{game.game_id}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="mb-5">Waiting for all teams to join</div>
            <table id="teams">
                {% for t in all_teams %}
                    {% if t == curr_team.team_name %}
                        <tr>
                            <th>{{t}}</th>
                            <th class="pl-4 float-right"> - Your Team </th>
                        </tr>
                    {% else %}
                        <tr>
                            <th>{{t}}</th>
                        </tr>
                    {% endif %}
                {% endfor %}
                    {% comment %} <td> Your team: </td>
                    <td> {{team_name}} </td> {% endcomment %}
            </table>
        </div>
    </div>


    {% comment %} Build websocket so that incoming teams are immediately displayed.
    Display Team Names, maybe nr of teammates. {% endcomment %}
        
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="{% url 'game' game_id=game.game_id %}">
                {% if curr_team.game_master == True %}
                    <button type="submit" class="button btn-lg" id="start-game-button">
                        <div class="">Start The Game!</div>
                    </button>
                {% else %}
                    <button type="submit" class="button btn-lg secret-btn" id="start-game-button">
                        <div class="">Start The Game!</div>
                    </button>
                {% endif %}
            </a>
        </div>
    </div>


    <div id="messages"></div>


</div>



{% load static %}
<script type="text/javascript"> 
    
    function connect() {

        let game_id = '{{game.game_id}}'
        let curr_team_name = '{{curr_team.team_name}}'
        let url = `ws://${window.location.host}/ws/waiting/${game_id}/`
    
        const waitSocket = new WebSocket(url)
    
        waitSocket.onopen = function open() {
            console.log("WebSockets connection created.");
            waitSocket.send(JSON.stringify({
                "event": "START",
                "send_team": curr_team_name
            }))
        };
    
        waitSocket.onclose = function (e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function () {
                connect();
            }, 1000);
        };
    
        waitSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)
    
            let team_name = data['send_team']
            let event = data['event']
            if (event === 'NEWTEAM' && curr_team_name !== team_name){
                let teams_div = document.getElementById('teams')
    
                teams_div.insertAdjacentHTML('beforeend', 
                                             `<div>
                                                <th>${team_name}</th>
                                             </div>`)
            } else if (event === 'START-GAME') {
                setTimeout(function () {
                    document.getElementById("start-game-button").click();
                }, 2000);
            }
        };

        document.getElementById('start-game-button').onclick = function() {
            waitSocket.send(JSON.stringify({
                "event": "START-GAME",
                "game_id": game_id
            }))
        }
    }
    connect();

    
</script>
    

{% endblock content %}